.git
.env
.env.*
**/node_modules
**/dist
.data
**/.data
output
tmp
.cache
.playwright-cli
assets
apps/classroom/public
*.vroid
**/*.db*
.wrangler

**/*.tsbuildinfo
!packages/*/dist
!packages/*/dist/**
!apps/server/dist
!apps/server/dist/**
